<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638544646635-uma0staim0181faqe4kj33csvn0gf1kf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638544646635-uma0staim0181faqe4kj33csvn0gf1kf</string>
	<key>API_KEY</key>
	<string>AIzaSyDG0bdu6lYw0jUMm7Cp95zDM9M5TjAeeo8</string>
	<key>GCM_SENDER_ID</key>
	<string>638544646635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JoeVeverka.Dont-Forget</string>
	<key>PROJECT_ID</key>
	<string>don-t-forget-c0e90</string>
	<key>STORAGE_BUCKET</key>
	<string>don-t-forget-c0e90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638544646635:ios:466dbb877a4c2916e789ae</string>
	<key>DATABASE_URL</key>
	<string>https://don-t-forget-c0e90.firebaseio.com</string>
</dict>
</plist>